@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow: hidden;
   font-family: 'Montserrat', sans-serif;
}
a, button{
   all: unset;
   cursor: pointer;
}

h1, h2, h3, p, a, label, span{
   color: var(--light-color);
}
input{
   accent-color: var(--primary-color);
}

:root{

   --primary-color: #72a1cb;
   --dark-color: #181818;
   --light-color: #dedede;
   --drop-shadow: 0 5px 10px #72a1cb55;



}

::selection{
   background: var(--light-color);
   color: var(--primary-color);
}


.firstPage{
   display: none;
}
.firstPage .text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   z-index: 10000;
}
.firstPage h1{
   color: var(--dark-color);
   text-shadow: var(--drop-shadow);
   font-size: 3rem;
}
.firstPage button , .generate{
   color: var(--dark-color);
   background: var(--primary-color);
   padding: 1rem 2rem;
   border-radius: 1rem;
   font-size: 1rem;
   display: inline-block;
   margin-top: 2rem;
   cursor: pointer;
   border: 2px solid var(--primary-color);
   transition: 0.3s;
}
.firstPage button{
   color: var(--dark-color);
   background: var(--light-color);
   border-color: var(--light-color);
}

.firstPage button:hover , .generate:hover{
   background: none;
   color: var(--primary-color);
}
.firstPage button:hover{
   color: var(--light-color);
}



.area{
   background: var(--primary-color);  
   width: 100%;
   height:100vh;
   
  
}

.circles{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.circles li{
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   background: rgba(255, 255, 255, 0.2);
   animation: animate 25s linear infinite;
   bottom: -150px;
   
}

.circles li:nth-child(1){
   left: 25%;
   width: 80px;
   height: 80px;
   animation-delay: 0s;
}


.circles li:nth-child(2){
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-duration: 12s;
}

.circles li:nth-child(3){
   left: 70%;
   width: 20px;
   height: 20px;
   animation-delay: 4s;
}

.circles li:nth-child(4){
   left: 40%;
   width: 60px;
   height: 60px;
   animation-delay: 0s;
   animation-duration: 18s;
}

.circles li:nth-child(5){
   left: 65%;
   width: 20px;
   height: 20px;
   animation-delay: 0s;
}

.circles li:nth-child(6){
   left: 75%;
   width: 110px;
   height: 110px;
   animation-delay: 3s;
}

.circles li:nth-child(7){
   left: 35%;
   width: 150px;
   height: 150px;
   animation-delay: 7s;
}

.circles li:nth-child(8){
   left: 50%;
   width: 25px;
   height: 25px;
   animation-delay: 15s;
   animation-duration: 45s;
}

.circles li:nth-child(9){
   left: 20%;
   width: 15px;
   height: 15px;
   animation-delay: 2s;
   animation-duration: 35s;
}

.circles li:nth-child(10){
   left: 85%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 11s;
}



@keyframes animate {

   0%{
       transform: translateY(0) rotate(0deg);
       opacity: 1;
       border-radius: 0;
   }

   100%{
       transform: translateY(-1000px) rotate(720deg);
       opacity: 0;
       border-radius: 50%;
   }

}


.secondPage{
   width: 100%;
   height: 100vh;
   position: relative;
   background: var(--dark-color);
}

.secondPage header{
   display: flex;
   justify-content: space-between;
   padding: 0 3rem;
   align-items: center;
   width: 100%;
   height: 15vh;
   position: fixed;
   top: 0;
   box-shadow: 0 0 10px rgb(0 0 0/0.2);
   z-index: 1100;
}
.secondPage header a{
   background: var(--primary-color);
   border: var(--primary-color) 2px solid;
   border-radius: 5px;
   padding: 0.5em 1em;
   transition: 0.3s;
}
.secondPage header a:hover{
   background: none;
   color: var(--primary-color);
}


.generator{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, calc(-50% + 7.5vh));
   border: #202020 1px solid;
   padding: 3rem;
   border-radius: 10px;
   width:40vw;
}
.generator h2{
   margin-bottom: 1rem;
}
#genOutputContainer{
   font-family: 'Roboto Mono', sans-serif;
   display: block;
   background: #00000050;
   width: 100%;
   padding: 0.6em;
   margin-bottom: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
  position: relative;
}
#genOutputContainer.active::after{
   position: absolute;
   content: 'copied to clipboard';
   background: var(--primary-color);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: var(--light-color);
   width: 200px;
   padding: 5rem 10rem;

}
#genOutputContainer span{
   font-size: 1rem;
}
#copyToClipboard{
   display: grid;
   place-content: center;
   cursor: pointer;
   background: #202020;
   border-radius: 5px;
   padding: 3px;
}
#genOutputContainer svg{
   width: 1rem;
}
#genOutputContainer path{
   color: var(--light-color);
   stroke: currentColor;
}


.length{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0.5rem;
}
#strengthStatus{
   line-height: 25px;
   margin-right: 5px;
   font-weight: 500;
}
.length div{
   display: flex;
   align-items: center;
}
#passwordLengthOutput{
   color: var(--light-color);
   font-size: 1rem;
   font-family: 'Roboto Mono', sans-serif;
   margin-left: 1rem;
   background-color: #00000050;
   padding: 0 0.5em;
   border-radius: 5px;
}
.strength{
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
   align-items: center;
}
.strengthDisplay{
   display: flex;
   gap: 3px;
}
.strengthDisplay div{
   width: 13px;
   height: 28px;
   background: none;
   border: 3px solid transparent;
}


.strengthDisplay.weak div{
   background: none;
   border-color: #dc3545;
   
}
.strengthDisplay.weak div:nth-child(2){
   background: #dc3545;
}

.strengthDisplay.medium div{
   background: none;
   border-color: #ffc107;
}
.strengthDisplay.medium div:nth-child(3), .strengthDisplay.medium div:nth-child(2) {
   background: #ffc107;
}
.strengthDisplay.strong div{
   background: none;
   border-color: #28a745;
}

.strengthDisplay.strong div:nth-child(4), .strengthDisplay.strong div:nth-child(2), .strengthDisplay.strong div:nth-child(3) {
   background: #28a745;
}

.strengthDisplay.secure div{
   background: #007bff;
   border-color: #007bff;
}

#generateBtn{
   background: var(--primary-color);
   color: var(--light-color);
   border: 2px solid var(--primary-color);
   width: 100%;
   text-align: center;
   padding: 0.75rem 0;
   margin-top: 2rem;
   transition: 0.3s;
}
#generateBtn:hover{
   background: none;
   color: var(--primary-color);

}
.err{
   color: #dc3545;
   margin-top: 1rem;
}
header{
   z-index: 100;
}

@media (max-width:1440px) {
   .generator{
      width: 60vw;
   }
}

@media (max-width:1024px) {
   .generator{
      width: 75vw;
   }
}


@media (max-width:768px) {
   .generator{
      width: 85vw;
   }
}

@media (max-width:425px) {
   .generator{
      width: 95vw;
   }
   .length{
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
   }
   header{
      font-size: 0.8rem;
   }
}